<form method="POST" action="/artist">
    <br>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <br>
    <br>
    <label for="age">Age</label>
    <input type="integer" name="age" id="age">

    <br>
    <br>
    <label for="bio">Bio</label>
    <input type="text" name="bio" id="bio">

    <br>
    <br>
    <input type="submit" value="Create a new artist!">
</form>